* {
    padding:0;
    margin:0 auto;
}

.top-bar img {
    width:20px;
    margin-top:30px;
    margin-left:150px;
    position: relative;
}
.top-bar h3 {
    margin-top:25px;
    margin-left:10px;
    display:inline;
    text-transform: uppercase;
    position: relative;
    top:20px;
    font-family:monospace;
}

#portfolio {
    background-color:#3B474D;
    border-radius:5px;
}
.middle-topbar {
    width:100%;
    height:300px;
    background-color:#A8D3DB;
    margin-top:-50px;
    display:inline-block;
}

.text {
    width:250px;
    text-transform:uppercase;
    margin-left:150px;
    position: relative;
    top:100px;
    font-family:monospace;
    
}
.laptop {
    float:right;
    position: relative;
    top:-100px;
    right:100px;
}
.laptop img {
    width:300px;
}

.circles {
    width:100px;
   text-align: center;
    margin-top:120px;
    display:block;
    

}
.circles ul {
    display:inline;

}
.circles li {
    width:15px;
    height:15px;
    display:inline-block;
    border:2px solid #FFF;
    border-radius:25px;
    margin:2px;
}
#active {
    background-color:#FFF;
}
.section-1 {
    width:100%;
    text-align: center;
}
.section-1-row {
    width:200px;
    height:300px;
    margin:55px;
    text-align: center;
    display:inline-block;
}
.section-1-row img {
    width:200px;
    height:150px;
}
.section-1-row h4 {
    margin:15px;
}

/*section 2 Recent Works*/
.section-2-row {
    background-color:#9BD1A6;
    width:100%;
    text-align: center;
}
.section-2-row h1 {
    text-transform: uppercase;
    padding-top:45px;
    color:#FFF;
}
.section-2-row h6 {
    color:#FFF;
    margin:15px;
}
.section-2-row li {
    display:inline-block;
    margin:25px;
    text-transform: uppercase;
    padding:5px;
    border-radius:5px;
    color:#FFF;
}
#all {
    background-color:#FFF;
    color:#9BD1A6;
}
#web {
    border:1px solid #FFF;
}
.section-2-row-images {
    width:100%;
}
.section-2-row-images img {
    width:200px;
    height:200px;
    margin:60px;
}
 button {
    padding:10px;
     margin-bottom:45px;
     color:dark;
     border-radius:5px;
}

/* section 3 Layers*/
.section-3-row {
    width:900px;
}
.section-3-row-layer {
     margin-top:50px;
}
.layer1 img {
    float:left;
}
.layer1 h3 {
    margin-bottom:10px;
    text-transform: capitalize;
}
.layer1 p {
    width:300px;
    margin-bottom:10px;
    margin-left:0;
}
.section-3-row img {
    width:200px;
    height:200px;
    margin: 0 25px 45px 25px;
}
.layer1-para   {
    float:left;
}
hr {
    width:100%;
}
.layer2 img {
    float:right;
}
.layer2 h3 {
    margin-bottom:10px;
    text-transform: capitalize;
}
.layer2 p {
    width:300px;
    margin-bottom:10px;
    margin-left:0;
}
.layer2-para {
    float:right;
}
/* buttons*/
#green {
    background-color:#9CD3A6;
    float:left;
}
#blue {
    background-color:#CFF0F3;
}

/* section 4 pink backgroundground Meet Our Team */
.section-4-row {
    clear:both;
    width:100%;
    height:500px;
    text-align: center;
    background-color:#DFB7C7;
}
.section-4-row #tophead {
    text-transform: uppercase;
    margin-bottom:15px;
    padding-top:25px;
    color:#FFF;
    
}
.section-4-row h6 {
    color:#FFF;
}
.section-4-row-info {
    width:200px;
    text-align: center;
    margin:25px;
    display:inline-block;
    background-color:#E8E8E8;

}
.section-4-row-info img {
    width:50px;
    margin:25px;
}
.section-4-row-bottom h1 {
    color:#000;
    text-transform: capitalize;
    margin:5px;
    padding-top:10px;

}
.section-4-row-info h4 {
    text-transform: capitalize;
}
.section-4-row-info p {
    padding-top:10px;
    padding-bottom:10px;
}
.section-4-row-bottom {
    background-color:#FFF;
    height:200px;
}
.section-4-row-bottom img {
    width:30px;

}
.section-4-row-bottom li {
    text-align: center;
    display:inline-block;
    width:10px;
    height:20px;
    margin:15px;
    position: relative;
    top:-25px;
    left:-35px;
}

/* section 5  Recent Post */
.section-5-row {
    text-align: center;
    background-color:#B2D1DB;
}
.section-5-post {
    width:200px;
    margin:25px;
    background-color:#EAE8EC;
    display:inline-block;
}
.section-5-row h2 {
    color:#FFF;
    text-transform: uppercase;
    padding:15px;
}
.section-5-post img {
    width:200px;
}
.section-5-post h4 {
    padding-top:10px;
    margin:5px;
    text-transform: capitalize;

}
.section-5-post h6 {

}
.section-5-post p {
    padding:10px;
}
.section-5-row-bottom {
    background-color:#FEFEFE;
}

/* footer */
.footer {
    height:450px;
    text-align: center;
    background-color:#3C3C3C;
}
.footer h2 {
    color:#FFF;
    text-transform: uppercase;
    padding:20px;
}
.footer h6 {
    color:#FFF;
    width:220px;
    padding:10px 10px 35px;
}
input {
    width:220px;
    height:20px;
    margin:5px;
    padding:5px;
    border-radius:5px;
}
#message {
    height:50px;    
}
.footer button {
    margin:20px;
    text-transform: uppercase;
}
hr {
    width:70%;
}
.footer-images {
    width:600px;
    background-color:#3C3C3C;
}
.footer-images img {
    width:30px;
    float:left;
    margin:10px;
}
.footer-text-right {
    display:inline-block;
    margin:20px;
}
.footer-text-right span {
    color:#A19279;
    text-transform: capitalize;
}
.footer-text-right p {
    text-transform: capitalize;
}
button:hover {
    border:1px solid darkblue;
    color:darkblue;
}

@media only screen and (max-width:1000px) {
    .laptop {
        position: relative;
        top:-130px;
    }
    
}
@media only screen and (max-width:800px) {
    .laptop {
        position: relative;
        right:30px;
    }
    .laptop img {
        width:250px;
    }
    .top-bar img, .top-bar h3, .text {
        position: relative;
        left:-110px;
    }
    
    .section-3-row {
        width:700px;
    }
    .section-3-row img {
        width:350px;
        margin-left:180px;
    }
    .layer1-para {
        margin-left:180px;
    }
    .layer2 img {
        width:350px;
        margin-right:180px;
    }
    .layer2-para {
        margin-right:100px;
    }
}
@media only screen and (max-width:640px) {
    .circles {
        display:none;
    }
}
@media only screen and (max-width:570px) {
    .top-bar img, .top-bar h3 {
        position: relative;
        left:-60px;
    }
    .laptop img {
        width:200px;
    }
    .laptop  {
        position: relative;
        top:100px;
        right:90px;
    }
    .text {
        display:none;
    }
   
}